<span>
    <slot />
</span>

<style>
    span {
        background-color: #20528b;
        border-radius: 4px;
        padding: 0.25em 0.5em;
        font-size: 0.75em;
        font-weight: bold;
        color: #fff;
    }
</style>