---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Cards from '../components/cards.astro';

import "../styles/global.css";
import "../styles/index.css";
import "../styles/aboutme.css"
import "../styles/projects.css"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <div class="absolute inset-0 -z-10 h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)]"></div> -->
	<Header />
	<main>
		<section class="welcome">
			<div class="left-content">
				<h1>Welcome! Nice to meet you!</h1>
				<span>I'm Francisco Garcia. I'm Technical computer and student engineer </span>
			</div>
			<div class="right-content">
				<img src="" alt="" />
			</div>
		</section>
	</main>

	<section class="about">
		<div class="about-grid">

			<div class="about-col-left">
				<span class="about-tag">About me</span>
				<p>
					I'm a Computer Technician graduated with honors, currently studying 
					Computer Engineering at Universidad de Belgrano. I specialize in 
					information systems development, software architecture and project management.
				</p>
				<div class="about-card-placeholder">
					<!-- Tu contenido futuro -->
				</div>
			</div>

			<div class="about-col-right">
				<p>
					Over four years of intensive training shaped my technical foundation, 
					working with technologies like C#, .NET, SQL, JavaScript and Git. 
					I enjoy designing complete system architectures and leading development 
					teams through agile methodologies.
				</p>
			</div>
		</div>
	</section>

	<section class="projects">
		<div class="conteiner-projects">
			<div class="projects-text">
				<h1>Highligth Projects</h1>
				<span>Click on cards to view details</span>
			</div>
			<div class="carousel carousel--scroll-buttons carousel--scroll-markers">
				<div class="carousel__slide" data-label="Slide 1"><Cards /></div>
				<div class="carousel__slide" data-label="Slide 2"><Cards /></div>
				<div class="carousel__slide" data-label="Slide 3"><Cards /></div>
				<div class="carousel__slide" data-label="Slide 4"><Cards /></div>	
			</div>
		</div>
	</section>
</Layout>


